<a href="https://colab.research.google.com/github/alirezakavianifar/machineLearning/blob/main/one_hot_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import requests
import io

In [5]:
url="https://github.com/aamitabhml/py/raw/master/ML/5_one_hot_encoding/homeprices.csv"
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [8]:
dummies = pd.get_dummies(df.town)

In [10]:
merged = pd.concat([df, dummies], axis='columns')

In [12]:
final = merged.drop(['town', 'west windsor'], axis='columns')

In [14]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [17]:
X = final.drop('price', axis='columns')
y = final.price

In [18]:
model.fit(X, y)

LinearRegression()

In [19]:
model.predict([[3400,0,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([681241.66845839])

In [20]:
X

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1